<!DOCTYPE html>
<html>
    <head>
        <title>Comida saudável</title>
        <meta charset="iso-8859-2" /> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>        
        <script src="https://unpkg.com/ag-grid-enterprise/dist/ag-grid-enterprise.min.noStyle.js" ></script>
        <script src="index.js"></script>

        <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
        <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
        <link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Comida saudável</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto"></ul>
            </div>
            <div class="my-2 my-lg-0" id="facebook">
                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook">&ThinSpace;</span>acebook</a>
            </div>
        </nav>
        <div class="jumbotron">
            <p></p>
            <h3> <span class="fa fa-lock"></span>Autenticação</h1>
            <form class="form-inline my-2 my-lg-0" method="POST" action="/auth/local">                
                <label>Login:</label>
                <input class="form-control my-sm-2" type='text' id="username" name="username" />
                <label>Senha:</label>
                <input class="form-control my-sm-2" type='password' id="password" name="password" />
                <input type='submit' class="btn btn-primary" id="locallogin" value="Login"/>
            </form>
            <div id="usuario">
                <label></label>
            </div>
        </div>

        <div>
            <section style="width:43%;">
                    <div id="criar_marmita">
                            <input class="btn btn-primary" type="button" name="btnCriarMarmita" value="Criar marmita"></input>
                        </div>
                <div id="listagem" class="ag-theme-balham" style="height: 200px;">
                </div>
            </section>
        </div>

        <script>        
            $.support.cors = true;
            $("#criar_marmita > input[type=button]")[0].addEventListener('click', criar_autenticado);
            var regExp = new RegExp('localhost', 'i');
            if (regExp.test(document.baseURI)){
                $("#facebook").show();
            }else{
                $("#facebook").hide();
            }
            listar();
        </script>
    </body>
</html>
